@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply cursor-pointer hover:underline;
  }
  .button-outline {
    @apply bg-[#00df9a] w-[120px] sm:w-[160px] md:w-[180px] rounded-md font-bold py-2 text-black;
  }
}